<!DOCTYPE html>
<html lang="en">
<%- include('header') %>

    <body>
        <%- include('nav')%>

            <div class="container is-large home-page">
                <div class="columns">
                    <div class="column">
                        <div class="home-page-descr">
                            <h2>Make Yourself and Your Home Comfortable!</h2>
                            <p>Equip your home with the newest technology, and most importantly keep up with the todays fashion!</p>
                            <a class="btn" href="/products">Search Products</a>
                        </div>
                    </div>
                    <div class="column">
                        <img class="home-page-img" src="/assets/media/shopbg.png" alt="shopping">
                    </div>
                </div>
            </div>
            <div class="container is-large categories">
                <h2 class="centered">Top Searched Categories</h2>
                <div class="columns">
                    <div class="column">
                        <div class="img-container">
                            <img src="/assets/media/shoecat.jpg" alt="shoes model">
                            <span class="categorie-descr">SHOES</span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="img-container">
                            <img src="/assets/media/iphones.png" alt="iphones">
                            <span class="categorie-descr">SMARTPHONES</span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="img-container">
                            <img src="/assets/media/jacket.jpg" alt="jacket model">
                            <span class="categorie-descr">JACKETS</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="container is-large featured">
                <h2 class="centered">Featured Products</h2>
                <!-- Slider main container -->
                <div class="swiper">

                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="column">
                                <div class="img-container">
                                    <img src="/assets/media/adidasjacket.jpg" alt="addidas jacket">
                                </div>
                                <h3>ESSENTIALS DOWN JACKET</h3>
                                <p>$90</p>
                            </div>

                            <div class="column">
                                <div class="img-container">
                                    <img src="/assets/media/top1.jpg" alt="addidas mens top">
                                </div>
                                <h3>RUN ICON LS</h3>
                                <p>$50</p>
                            </div>
                            <div class="column">
                                <div class="img-container">
                                    <img src="/assets/media/shoe2.jpg" alt="addidas shoes">
                                </div>
                                <h3>ULTRABOOST 22 SHOES</h3>
                                <p>$190</p>
                            </div>
                            <div class="column">
                                <div class="img-container">
                                    <img src="/assets/media/pants1.jpg" alt="addidas pants">
                                </div>
                                <h3>FLEECE 3-STRIPES PANTS</h3>
                                <p>$32</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="column">
                                <div class="img-container">
                                    <img src="/assets/media/shoe1.jpg" alt="addidas shoes">
                                </div>
                                <h3>LITE RACER ADAPT 3 SHOES</h3>
                                <p>$65</p>
                            </div>

                            <div class="column">
                                <div class="img-container">
                                    <img src="/assets/media/sweater.jpg" alt="addidas sweater">
                                </div>
                                <h3>VELOUR SWEATER</h3>
                                <p>$35</p>
                            </div>
                            <div class="column">
                                <div class="img-container">
                                    <img src="/assets/media/fleece.jpg" alt="addidas fleece">
                                </div>
                                <h3>FLEECE SWEATSHIRT</h3>
                                <p>$50</p>
                            </div>
                            <div class="column">
                                <div class="img-container">
                                    <img src="/assets/media/shoe3.jpg" alt="addidas shoes">
                                </div>
                                <h3>RACER TR21 K</h3>
                                <p>$60</p>
                            </div>
                        </div>
                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <!-- <div class="swiper-scrollbar"></div> -->
                </div>
            </div>





            <%- include('footer') %>

    </body>

</html>