<nav class="nav">
    <div class="logo">
        <a href="/">
            <h1 class="logo-title">
                <span>e</span>
                <span>B</span>
                <span>u</span>
                <span>y</span>
            </h1>
        </a>
    </div>
    <div class="nav-links">
        <ul class="nav-list">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/products">
                <li>Products</li>
            </a>

            <a href="/support">
                <li>Support</li>
            </a>
            <a href="/logout">
                <li>Hi,
                    <%= name%>
                </li>
            </a>
            <a href="/logout">
                <li>Logout</li>
            </a>
            <a href="/cart">
                <li><img src="/assets/media/bag.png" alt="shopping bag">
                </li>
            </a>
        </ul>
    </div>
    <div class="side-menu">

        <button class="side-menu-button">
            <div class="ham-button">
            </div>
        </button>
        <aside class="side-menu-items">
            <nav>
                <ul>
                    <li class="side-menu-links"><a href="/">Home</a></li>
                    <li class="side-menu-links"><a href="/products">Products</a></li>
                    <li class="side-menu-links"><a href="/about">About</a></li>
                    <li class="side-menu-links"><a href="/support">Support</a></li>
                    <li class="side-menu-links"><a href="/login">Hi, <%= name%></a></li>
                    <li class="side-menu-links"><a href="/cart">Shopping Cart</a></li>

                </ul>
            </nav>
        </aside>
        <a class="cart-mobile" href="cart"><img src="/assets/media/bag.png" alt="shopping bag"></a>
    </div>
</nav>