<nav class="nav">
    <div class="logo">
        <a href="/">
            <h1 class="logo-title">
                <span>e</span>
                <span>B</span>
                <span>u</span>
                <span>y</span>
            </h1>
        </a>
    </div>
    <div class="nav-links">
        <ul class="nav-list">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/products">
                <li>Products</li>
            </a>

            <a href="/support">
                <li>Support</li>
            </a>
            <li class="login-hover">
                Account
                <div class="hidden-logout">
                    <p><a href="/edit-account?id=<%=id%>">My Account</a></p>
                    <p><a href="/logout">Logout</a></p>
                </div>



            </li>
            <!-- </a> -->
            <a href="/cart">
                <li class="cart-items-num"><img src="/assets/media/bag.png" alt="shopping bag">
                    <p class="items-num">
                    </p>
                </li>
            </a>
        </ul>
    </div>
    <div class="side-menu">

        <button class="side-menu-button">
            <div class="ham-button">
            </div>
        </button>
        <aside class="side-menu-items">
            <nav>
                <ul>
                    <li class="side-menu-links"><a href="/">Home</a></li>
                    <li class="side-menu-links"><a href="/products">Products</a></li>
                    <li class="side-menu-links"><a href="/support">Support</a></li>
                    <li class="side-menu-links"><a href="/edit-account?id=<%=id%>">My Account</a></li>
                    <li class="side-menu-links"><a href="/cart">Shopping Cart</a></li>
                    <li class="side-menu-links"><a href="/logout">Logout</a></li>

                </ul>
            </nav>
        </aside>
        <a class="cart-mobile" href="cart"><img src="/assets/media/bag.png" alt="shopping bag"></a>
    </div>
</nav>